@charset "utf-8";

.TabBtn {
    position:relative;
    border: none;
    background-color: #000;
    /* background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%); */
    color: #fff;
    overflow: hidden;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #999;
    font-size: 28px;
    font-family: "comfortaa-bold";
}
.TabBtn:hover {
    text-decoration: none;
    color: #fff;
    opacity: .7;
}
.TabBtn::before {
    position: absolute;
    content:'';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny 3s ease-in-out infinite;
}

@keyframes shiny {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}