@charset "utf-8";
@import "./font.css";

:root {
    --rob-font: "roboto-bold";
    --nun-font: "nunito";
    --mon-font: "montserrat";
    --black-color: #2b2b2b;
    --white-color: #fff;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #23356f
}

.inner:not(.header__inner) {
    padding: 7rem 2rem 0;
    flex-direction: column;
    gap: 20px
}

.inner.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner h2 {
    font-size: 28px;
    
}

section {
    min-height: 100vh;
}


