/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: transparent;
    box-sizing: border-box;
}
header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
header .logo {
    background: url(../favicon2.png) no-repeat center / contain;
    width: calc(500px / 4);
    height: calc(500px / 4);
    filter: invert(1)
}
nav.gnb ul {
    display: flex;
    gap: 30px;
}
nav.gnb ul > li > a {
    font-family: var(--nun-font);
    font-size: 20px;
    text-transform: uppercase;
    transition: .4s;
}
nav.gnb li a::after {
    content: '';
    display: block;
    border-bottom: 3px solid #fff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
    margin-top: 5px;
}
nav.gnb li a:hover::after,
nav.gnb li a:focus::after {
    transform: scaleX(1);
}

/* MAIN */
main {
    background-color: var(--black-color);
}

/* ABOUT */
section#about {
    border: 1px solid red;
}

/* SKILL */
section#skill {
    border: 1px solid blue;
}
/* PORTFOLIO */
section#portfolio {
    border: 1px solid green;
}
/* CONTACT */
section#contact {
    border: 1px solid orange;
}
