/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 5rem;
    z-index: 9;
}
header,
.header__inner {
    transition: .7s
}
header.active {
    top: 0;
}
header.active .header__inner {
    width: 100%;
    padding: 0 10px;
    border-radius: 0;
}
body.darkMode .header__inner,
body.darkModeOff .header__inner {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 0 auto;
}
body.darkMode .header__inner {
    background-color:var(--black-color);
}
body.darkModeOff .header__inner {
    background-color:var(--white-color);
}
body.darkMode .header__inner .logo > a,
body.darkModeOff .header__inner .logo > a {
    width: calc(150px / 2);
    height: calc(150px / 2);
    display: block;
}

body.darkMode .header__inner .logo > a {
    background: url(../favicon.png) center center / contain no-repeat;
}
body.darkModeOff .header__inner .logo > a {
    background: url(../favicon.png) center center / contain no-repeat;
    filter: invert(100%);
}
nav.gnb ul {
    display: flex;
    gap: 30px;
}
nav.gnb ul > li > a {
    font-family: var(--nun-font);
    font-size: 20px;
    text-transform: uppercase;
}

/* MAIN */
body.darkMode main {
    background-color:white;
    height: 500vh;
}
body.darkModeOff main {
    background-color: var(--black-color);
    height: 500vh;
}
body.darkMode main section.intro,
body.darkModeOff main section.intro {
    position: relative
}
/* body.darkMode main section.intro {
    background: url(../images/intro_bg07.jpg) center center / cover no-repeat;
} */
body.darkMode main section.intro {
    border: 1px solid red;
}
body.darkMode main section.intro .introBg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body.darkMode main section.intro .introBg.top {
    background-image: url(../images/bg_top.png);
    width: 1280px;
    height: 473px;
}
body.darkMode main section.intro .introBg.left {
    background-image: url(../images/bg_left.png);
    width: 1280px;
    height: 475px;
    bottom: 388px;
}
body.darkMode main section.intro .introBg.right {
    background-image: url(../images/bg_right.png);
    width: 1035px;
    height: 422px;
    bottom: 388px;
    right: 145px;
}
body.darkModeOff main section.intro {
    background: url(../images/intro_bg08.jpg) center center / cover no-repeat;
}
/* body.darkMode main section.intro::before {
    content:'';
    width: 100%;
    height: 100%;    
    background-color:#000;
    position: absolute;
    opacity: 0.3;
} */
body.darkModeOff main section.intro::before {
    opacity: 0;
}
/* section.intro .content {
    color: var(--white-color);
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} */