/* Roboto-bold */
@font-face {
    src: url(../font/RobotoMono-Bold.ttf) format(truetype);
    font-family: "roboto-bold"
}

/* Nunito */
@font-face {
    src: url(../font/Nunito-Medium.ttf) format(truetype);
    font-family: "nunito";
}

/* Montserrat */
@font-face {
    src: url(../font/Montserrat-Regular.ttf) format(truetype);
    font-family: "montserrat";
}

/* Comfortaa */
@font-face {
    src: url(../font/Comfortaa-Medium.ttf) format(truetype);
    font-family: "comfortaa";
}
@font-face {
    src: url(../font/Comfortaa-Bold.ttf) format(truetype);
    font-family: "comfortaa-bold";
}

/* Jua */
@font-face {
    src: url(../font/Jua-Regular.ttf) format(truetype);
    font-family: "jua";
}

/* Space Grotesk */
@font-face {
    src: url(../font/SpaceGrotesk-SemiBold.ttf) format(truetype);
    font-family: "space";
}