@charset "utf-8";

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: transparent;
    box-sizing: border-box;
}
header .inner {
    position: relative;
    /* background-color:#fff;
    box-shadow: 0 5px 5px #999; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}
/* 로고 */
header .logo {
    /* background: url(../favicon2.png) no-repeat center / contain; */
    width: calc(500px / 7);
    height: calc(500px / 7);
    filter: drop-shadow(2px 4px 6px black);
    border: 1px solid red;
}
nav.gnb ul {
    display: flex;
    gap: 15px;
}
nav.gnb ul > li > a {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "jua";
    padding: 10px 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* border-radius: 10px; */
    color:#003a88;
    /* transition: .4s; */
}
body.night nav.gnb ul > li > a {
    color: #fff;
}
/* nav.gnb ul > li > a span {
    position: absolute;
    border: 3px solid #fff;
    border-radius: 10px;
    opacity: 0;
    transition: 0.1s;
} */
/* nav.gnb ul > li > a:hover span {
    opacity: 1;
}
nav.gnb ul > li > a span:nth-of-type(1) {
    top: 0;
    left: 0;
    right: 100%;
}
nav.gnb ul > li > a span:nth-of-type(2) {
    top: 0;
    right: 0;
    bottom: 100%;
}
nav.gnb ul > li > a span:nth-of-type(3) {
    bottom: 0;
    left: 100%;
    right: 0;
}
nav.gnb ul > li > a span:nth-of-type(4) {
    top: 100%;
    left: 0;
    bottom: 0;
}
nav.gnb ul > li > a:hover span:nth-of-type(1) {
    right: 0%;
}
nav.gnb ul > li > a:hover span:nth-of-type(2) {
    bottom: 0%;
}
nav.gnb ul > li > a:hover span:nth-of-type(3) {
    left: 0%;
}
nav.gnb ul > li > a:hover span:nth-of-type(4) {
    top: 0%;
}
nav.gnb ul > li > a span:nth-of-type(1) {
    transition-delay: 0.3s
}
nav.gnb ul > li > a:hover span:nth-of-type(1) {
    transition-delay: 0s;
}

nav.gnb ul > li > a span:nth-of-type(2) {
    transition-delay: 0.2s;
}
nav.gnb ul > li > a:hover span:nth-of-type(2) {
    transition-delay: 0.1s;
}
nav.gnb ul > li > a span:nth-of-type(3) {
    transition-delay: 0.1s;
}
nav.gnb ul > li > a:hover span:nth-of-type(3) {
    transition-delay: 0.2s;
}
nav.gnb ul > li > a span:nth-of-type(4) {
    transition-delay: 0s;
}
nav.gnb ul > li > a:hover span:nth-of-type(4) {
    transition-delay: 0.3s;
} */

/* nav.gnb li a::after {
    content: '';
    display: block;
    border-bottom: 3px solid #23356f;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
    margin-top: 5px;
}
nav.gnb li a:hover::after,
nav.gnb li a:focus::after {
    transform: scaleX(1);
} */
nav.gnb {
    position: relative;
    left: 100%;
    transition: .7s;
}
nav.gnb.on {
    left: -30px;
}
#header .gnbBtn {
    position: absolute;
    padding: 20px;
    right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #999;
    border:1px solid red
}
#header .gnbBtn.on {
    border:1px solid green;
    box-shadow: 0px 0px 0px transparent;
}

/* MAIN */
main {
    /* background-color: #e5ebf1; */
    /* background-color:#222; */
    /* height: auto;
    min-height: 100%;
    padding-bottom: 70px; */
    background-image: linear-gradient( to top, #00122e, #002659, #003a88, #004eb9, #63b2da, #fff)
}

/* INTRO */
section#intro {
    /* animation: backgroundMoveDay 3s linear forwards; */
    background-image: linear-gradient( to bottom, #fff 58%, #63b2da, #63b2da);
}
body.night section#intro {
    /* animation: backgroundMoveNight 3s linear forwards */
    background-image: linear-gradient( to bottom, #003a88ff 58%, #63b2da, #63b2da);
}

/* @keyframes backgroundMoveDay {
    0% {opacity: 1; background-image: linear-gradient( to bottom, #003a88ff 58%, #63b2da, #1D64C1)}
    50% {opacity: .7;}
    100% {opacity: 1; background-image: linear-gradient( to bottom, #fff 58%, #63b2da, #1D64C1);}
}

@keyframes backgroundMoveNight {
    0% {opacity: 1; background-image: linear-gradient( to bottom, #fff 58%, #63b2da, #1D64C1);}
    50% {opacity: .7;}
    100% {opacity: 1; background-image: linear-gradient( to bottom, #003a88ff 58%, #63b2da, #1D64C1);}
} */

/* INTRO TEXT ANIMATION */
#intro #textWrapBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    top: 30%;
    gap: 20px;
}
#textWrap > span {
    font-family: "jua";
    color: #003a88;
}
body.night section#intro #textWrap > span {
    color: #fff;
}
#textWrap > span {
    opacity: 0;
    font-size: 4.5rem;
}
/* #underTextWrap > p {
    font-size: 3.5rem;
} */
.text-animated {
    animation: slideInLeft 1s ease-in-out forwards 0s;
}
/* intro waveWrap */
/* #intro .waveWrap {
    width: 100%;
    height: 130px;
    position: absolute;
    transform: translateY(-50%);
    top: 66%;
    overflow: hidden;
}
#intro .waveWrap .wave {
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 48%;
    top: 50%;
    background: #bddef0;
}
body.night #intro .waveWrap .wave {
    background: #286DAB;
}
#intro .waveWrap .wave1 {left: -900px; animation: wave 5s infinite linear;}
#intro .waveWrap .wave2 {left: -500px; animation: wave 6s infinite linear;}
#intro .waveWrap .wave3 {left: -200px; animation: wave 7s infinite linear;}
#intro .waveWrap .wave4 {left: 300px; animation: wave 8s infinite linear;}

@keyframes wave {
    100% {transform: rotate(360deg)}
} */

/* .fa-sun {
    font-size: 130px;
    color: yellow;
    animation: move 4s infinite linear;
    position:absolute;
    top: 20%;
    right: 10%;
    opacity: 1;
} */
.fa-moon {
    font-size: 130px;
    color: rgba(255, 255, 255, 0.8);
    position:absolute;
    transform: translate(-50%, -50%);
    top: -100px;
    right: 100px;
    opacity: 0;
    animation: dayMove 1s linear forwards;
}
.fa-moon.blur {
    top: -100px;
    right: 100px;
    opacity: 0;
}
.fa-asterisk {
    opacity: 0;
    color: #fff;
    position: absolute;
}
.fa-asterisk.star1 {
    top: 100px;
    right: 300px;
    font-size: 12px;
}
.fa-asterisk.star2 {
    top: 160px;
    right: 400px;
    font-size: 20px;
}
.fa-asterisk.star3 {
    top: 150px;
    right: 550px;
    font-size: 12px;
}
.fa-asterisk.star5 {
    top: 100px;
    right: 700px;
    font-size: 12px;
}
.fa-asterisk.star6 {
    top: 150px;
    left: 100px;
    font-size: 20px;
}

.fa-asterisk.star8 {
    top: 100px;
    left: 300px;
    font-size: 12px;
}
.fa-asterisk.star10 {
    top: 60px;
    left: 500px;
    font-size: 20px;
}
@keyframes blur {
    0% {opacity: 0; filter: blur(0);
        -webkit-filter: blur(0);}
    50% {opacity: 1; filter: blur(10px);
        -webkit-filter: blur(10px);}
    100% {opacity: 0; filter: blur(0);
        -webkit-filter: blur(0);}
}
/* body.night section#intro .sun:not(.sun.blur){
    transform: translate(-50%, -50%);
    animation: dayMove 1s linear forwards;
    top: -100px;
    right: 0;
    opacity: 0;
} */
body.night section#intro .fa-moon{
    animation: dayMoveRevert 1s linear forwards ;
    top: 170px;
    right: 100px;
    opacity: 1;
}
body.night section#intro .fa-moon.blur {
    opacity: 0;
    top: 170px;
    right: 100px;
    animation: blur 1s infinite linear;
    animation-delay: 2s
}
body.night section#intro .fa-asterisk {
    opacity: 0;
    animation: star 1.2s infinite;
}
/* .sun {
    position:absolute;
    top: 170px;
    right: 0;
    background: url(../images/sun.png) center center / contain no-repeat;
    width: 200px;
    height: 200px;
    opacity: 1;
    animation: dayMoveRevert 1s linear forwards ;
}  */
/* .sun.blur {
    background: url(../images/sun_blur.png) center center / contain no-repeat;
    transform: translate(-50%, -50%);
    top: 170px;
    right: -100px;
    width: 300px;
    height: 300px;
    animation: blur 1s infinite linear;
    animation-delay: 2s;
    opacity: 0;
} */
/* body.night .sun.blur {
    opacity: 0;
    animation: none
} */

@keyframes dayMove {
    0% { transform: translate(-50%, -50%); top: 170px; opacity: 1; }
    50% {transform: translate(-50%, -50%); top: 0px; opacity: 0.5;}
    100% {transform: translate(-50%, -50%); top: -100px; opacity: 0;}
}
@keyframes dayMoveRevert {
    0% { transform: translate(-50%, -50%); top: -100px; opacity: 0; }
    50% {transform: translate(-50%, -50%); top: 0px; opacity: .5;}
    100% {transform: translate(-50%, -50%); top: 170px; opacity: 1;}
}

@keyframes nightMove {
    0% { transform: translate(-50%, -50%) rotate(0deg); top: -100px; opacity: 0; }
    50% {transform: translate(-50%, -50%) rotate(0deg); top: 0px; opacity: 0.5;}
    100% {transform: translate(-50%, -50%) rotate(0deg); top: 170px; opacity: 1;}
}
@keyframes star {
    0%,100% {opacity: 0; transform: scale(0);}
    50% {opacity: 1; transform: scale(1)}
}



/* ABOUT */
section#about {
    border: 1px solid red;
}

/* SKILL */
section#skill {
    border: 1px solid blue;
}
/* PORTFOLIO */
#portfolio {
    border: 1px solid green;
}
#portfolio .inner {
    align-items: baseline;
    justify-content: flex-start;
}
#portfolio .portfolioContWrap {
    width: 100%;
    border: 1px solid red;
}
#portfolio .portfolioContWrap .portfolioTab {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 30px;
    gap: 20px;
}
#portfolio .portfolioContWrap .TabCont {
    display: none;
    position: relative;
    padding: 20px;
    border: 1px solid red;
}
#portfolio .portfolioContWrap .TabCont.active {
    display: block;
}

/* CONTACT */
section#contact {
    border: 1px solid orange;
}

/* Footer */
footer {
    background-color: #00122e;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}
/* fadeWrap */
.fadeWrap {
    opacity: 0;
    position: relative;
    transition: 1s;
    left: -50px;
}
.fadeWrap.fade-in {
    opacity: 1;
    left: 0;
}




@keyframes slideInLeft {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}