@charset "utf-8";

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: transparent;
    box-sizing: border-box;
}
header .inner {
    position: relative;
    /* background-color:#fff;
    box-shadow: 0 5px 5px #999; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}
/* 로고 */
header .logo {
    /* background: url(../favicon2.png) no-repeat center / contain; */
    width: calc(500px / 7);
    height: calc(500px / 7);
    filter: drop-shadow(2px 4px 6px black);
    border: 1px solid red;
}
nav.gnb ul {
    display: flex;
    gap: 15px;
}
nav.gnb ul > li > a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "space";
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    transition: .4s;
}
nav.gnb ul > li > a span {
    position: absolute;
    border: 3px solid #fff;
    border-radius: 10px;
    opacity: 0;
    transition: 0.1s;
}
nav.gnb ul > li > a:hover span {
    opacity: 1;
}
nav.gnb ul > li > a span:nth-of-type(1) {
    top: 0;
    left: 0;
    right: 100%;
}
nav.gnb ul > li > a span:nth-of-type(2) {
    top: 0;
    right: 0;
    bottom: 100%;
}
nav.gnb ul > li > a span:nth-of-type(3) {
    bottom: 0;
    left: 100%;
    right: 0;
}
nav.gnb ul > li > a span:nth-of-type(4) {
    top: 100%;
    left: 0;
    bottom: 0;
}
nav.gnb ul > li > a:hover span:nth-of-type(1) {
    right: 0%;
}
nav.gnb ul > li > a:hover span:nth-of-type(2) {
    bottom: 0%;
}
nav.gnb ul > li > a:hover span:nth-of-type(3) {
    left: 0%;
}
nav.gnb ul > li > a:hover span:nth-of-type(4) {
    top: 0%;
}
nav.gnb ul > li > a span:nth-of-type(1) {
    transition-delay: 0.3s
}
nav.gnb ul > li > a:hover span:nth-of-type(1) {
    transition-delay: 0s;
}

nav.gnb ul > li > a span:nth-of-type(2) {
    transition-delay: 0.2s;
}
nav.gnb ul > li > a:hover span:nth-of-type(2) {
    transition-delay: 0.1s;
}
nav.gnb ul > li > a span:nth-of-type(3) {
    transition-delay: 0.1s;
}
nav.gnb ul > li > a:hover span:nth-of-type(3) {
    transition-delay: 0.2s;
}
nav.gnb ul > li > a span:nth-of-type(4) {
    transition-delay: 0s;
}
nav.gnb ul > li > a:hover span:nth-of-type(4) {
    transition-delay: 0.3s;
}

/* nav.gnb li a::after {
    content: '';
    display: block;
    border-bottom: 3px solid #23356f;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
    margin-top: 5px;
}
nav.gnb li a:hover::after,
nav.gnb li a:focus::after {
    transform: scaleX(1);
} */
nav.gnb {
    position: relative;
    left: 100%;
    transition: .7s;
}
nav.gnb.on {
    left: -30px;
}
#header .gnbBtn {
    position: absolute;
    padding: 20px;
    right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #999;
    border:1px solid red
}
#header .gnbBtn.on {
    border:1px solid green;
    box-shadow: 0px 0px 0px transparent;
}

/* MAIN */
main {
    background-color: #e5ebf1;
    /* background-color:#222; */
    /* height: auto;
    min-height: 100%;
    padding-bottom: 70px; */
}

/* INTRO */
section#intro {
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 76%, rgba(255,255,255,1) 100%); */
    background-color: #000;
}
/* section#intro::before {
    content:''; 
    border:1px solid red; 
    width: 100%; 
    height: 100%; 
    display: block; 
    position: absolute
} */

/* INTRO TEXT ANIMATION */
#intro #textWrapBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    top: 50%;
    gap: 20px;
}
#textWrap > span,
#underTextWrap > p {
    font-family: "jua";
    color: #fff;
}
#textWrap > span {
    opacity: 0;
    font-size: 4.5rem;
}
#underTextWrap > p {
    font-size: 5rem;
}
.text-animated {
    animation: slideInLeft 1s ease-in-out forwards 0s;
}


/* ABOUT */
section#about {
    border: 1px solid red;
}

/* SKILL */
section#skill {
    border: 1px solid blue;
}
/* PORTFOLIO */
#portfolio {
    border: 1px solid green;
}
#portfolio .inner {
    align-items: baseline;
}
#portfolio .portfolioContWrap {
    width: 100%;
    border: 1px solid red;
}
#portfolio .portfolioContWrap .portfolioTab {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 30px;
    gap: 20px;
}
#portfolio .portfolioContWrap .TabCont {
    display: none;
    position: relative;
    padding: 20px;
    border: 1px solid red;
}
#portfolio .portfolioContWrap .TabCont.active {
    display: block;
}

/* CONTACT */
section#contact {
    border: 1px solid orange;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}
/* fadeWrap */
.fadeWrap {
    opacity: 0;
    position: relative;
    transition: 1s;
    left: -50px;
}
.fadeWrap.fade-in {
    opacity: 1;
    left: 20px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}