@charset "utf-8";

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 9;
    background-color: transparent;
    box-sizing: border-box;
}
body:has(.cd-modal.visible) header {
    display: none;
}
header .inner {
    position: relative;
    /* background-color:#fff;
    box-shadow: 0 5px 5px #999; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}
/* 로고 */
header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-family: 'jua';
    
}
nav.gnb ul {
    display: flex;
    gap: 15px;
}
nav.gnb ul > li > a {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "jua";
    padding: 10px 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* border-radius: 10px; */
    color:#003a88;
    /* transition: .4s; */
}
nav.gnb ul > li > a {
    color: #fff;
}
nav.gnb {
    position: absolute;
    right: -700px;
    transition: .7s;
}
nav.gnb.on {
    right: 100px;
}
#header .gnbBtn {
    position: relative;
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: none;
}
/* #header .gnbBtn.on {
    
} */
#header .gnbBtn > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 4px;
}
#header .gnbBtn,
#header .gnbBtn > span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box
}
#header .gnbBtn > span.bar1 {
    top: 0;
    animation: barTop .7s forwards;
}
#header .gnbBtn > span.bar2 {
    top: 17px;
    transition: all .2s .2s;
    opacity: 1;
}
#header .gnbBtn > span.bar3 {
    bottom: 0;
    animation: barBottom .7s forwards;
}
/* gnb버튼 애니메이션 */
#header .gnbBtn.on > span.bar1 {
    animation: barTopON .7s forwards;
}
#header .gnbBtn.on > span.bar2 {
    opacity: 0;
}
#header .gnbBtn.on > span.bar3 {
    animation: barBottomON .7s forwards;
}

@keyframes barTop {
    0% {transform: translateY(17px) rotate(45deg)}
    50% {transform: translateY(17px) rotate(0);}
    100% {transform: translateY(0) rotate(0);}
}
@keyframes barBottom {
    0% {transform: translateY(-17px) rotate(-45deg)}
    50% {transform: translateY(-17px) rotate(0);}
    100% {transform: translateY(0) rotate(0);}
}
@keyframes barTopON {
    0% {transform: translateY(0) rotate(0)}
    50% {transform: translateY(17px) rotate(0)}
    100% {transform: translateY(17px) rotate(45deg)}
}
@keyframes barBottomON {
    0% {transform: translateY(0) rotate(0)}
    50% {transform: translateY(-17px) rotate(0)}
    100% {transform: translateY(-17px) rotate(-45deg)}
}

/* MAIN */
main {
    background-image: linear-gradient( to top, #00122e, #002659, #003a88, #004eb9, #2389c0, #2389c0)
}
section#intro {
    background-image: linear-gradient( to bottom, #003a88ff 58%, #63b2da, #63b2da);
}
/* INTRO TEXT ANIMATION */
#intro #textWrapBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    top: 30%;
    gap: 20px;
}
#textWrap > span {
    font-family: "jua";
    color: #003a88;
}
section#intro #textWrap > span {
    color: #fff;
}
#textWrap > span {
    opacity: 0;
    font-size: 4.5rem;
}
.text-animated {
    animation: slideInLeft 1s ease-in-out forwards 0s;
}

.fa-moon {
    font-size: 130px;
    color: rgba(255, 255, 255, 0.8);
    position:absolute;
    transform: translate(-50%, -50%);
    top: -100px;
    right: 100px;
    opacity: 0;
    animation: dayMove 1s linear forwards;
}
.fa-moon.blur {
    top: -100px;
    right: 100px;
    opacity: 0;
}
.fa-asterisk {
    opacity: 0;
    color: #fff;
    position: absolute;
}
.fa-asterisk.star1 {
    top: 100px;
    right: 300px;
    font-size: 12px;
}
.fa-asterisk.star2 {
    top: 160px;
    right: 400px;
    font-size: 20px;
}
.fa-asterisk.star3 {
    top: 150px;
    right: 550px;
    font-size: 12px;
}
.fa-asterisk.star5 {
    top: 100px;
    right: 700px;
    font-size: 12px;
}
.fa-asterisk.star6 {
    top: 150px;
    left: 100px;
    font-size: 20px;
}

.fa-asterisk.star8 {
    top: 100px;
    left: 300px;
    font-size: 12px;
}
.fa-asterisk.star10 {
    top: 60px;
    left: 500px;
    font-size: 20px;
}
@keyframes blur {
    0% {opacity: 0; filter: blur(0);
        -webkit-filter: blur(0);}
    50% {opacity: 1; filter: blur(10px);
        -webkit-filter: blur(10px);}
    100% {opacity: 0; filter: blur(0);
        -webkit-filter: blur(0);}
}
section#intro .fa-moon{
    animation: dayMoveRevert 1s linear forwards ;
    top: 170px;
    right: 100px;
    opacity: 1;
}
section#intro .fa-moon.blur {
    opacity: 0;
    top: 170px;
    right: 100px;
    animation: blur 1s infinite linear;
    animation-delay: 2s
}
section#intro .fa-asterisk {
    opacity: 0;
    animation: star 1.2s infinite;
}


@keyframes dayMove {
    0% { transform: translate(-50%, -50%); top: 170px; opacity: 1; }
    50% {transform: translate(-50%, -50%); top: 0px; opacity: 0.5;}
    100% {transform: translate(-50%, -50%); top: -100px; opacity: 0;}
}
@keyframes dayMoveRevert {
    0% { transform: translate(-50%, -50%); top: -100px; opacity: 0; }
    50% {transform: translate(-50%, -50%); top: 0px; opacity: .5;}
    100% {transform: translate(-50%, -50%); top: 170px; opacity: 1;}
}

@keyframes nightMove {
    0% { transform: translate(-50%, -50%) rotate(0deg); top: -100px; opacity: 0; }
    50% {transform: translate(-50%, -50%) rotate(0deg); top: 0px; opacity: 0.5;}
    100% {transform: translate(-50%, -50%) rotate(0deg); top: 170px; opacity: 1;}
}
@keyframes star {
    0%,100% {opacity: 0; transform: scale(0);}
    50% {opacity: 1; transform: scale(1)}
}



/* ABOUT */
/* section#about {
    
} */
.cd-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 2.4rem;
    font-family: "jua";
    letter-spacing: .15em;
    color: #ffffff;
    text-transform: uppercase;
    border: 5px solid #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
  .no-touch .cd-btn:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* -------------------------------- 
  
  Typography
  
  -------------------------------- */
  h3 {
    font-size: 2.6rem;
    line-height: 1;
    margin-bottom: 1em;
    font-family: "IM Fell Double Pica", serif;
    font-style: italic;
  }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 5rem;
    }
  }
  
  /* -------------------------------- 
  
  Modal window 
  
  -------------------------------- */
  .cd-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #402f44 url(../images/modal-bg.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }
  .cd-modal .modal-content {
    height: 100%;
    overflow-y: auto;
    padding: 3em 5%;
    color: #e4dcca;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cd-modal h3 {
    text-align: center;
  }
  .cd-modal h3::after {
    /* ink/brush separation */
    content: '';
    display: block;
    width: 130px;
    height: 18px;
    background: url(../images/ink-separation.svg) no-repeat center center;
    margin: .2em auto 0;
  }
  .cd-modal p {
    line-height: 1.6;
    margin: 2em auto;
    max-width: calc(100% - 100px);
    text-align: justify;
  }
  .cd-modal .modal-close {
    /* 'X' icon */
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 5%;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3) url(../images/cd-icon-close.svg) no-repeat center center;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  }
  .no-touch .cd-modal .modal-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .cd-modal.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.7s, visibility 0s;
    -moz-transition: opacity 0.7s, visibility 0s;
    transition: opacity 0.7s, visibility 0s;
  }
  .cd-modal.visible .modal-content {
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
  }
  .cd-modal.visible .modal-close {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  @media only screen and (min-width: 1100px) {
    /* .cd-modal .modal-content {
      padding: 6em 5%;
    } */
    .cd-modal .modal-close {
      height: 60px;
      width: 60px;
    }
    .cd-modal p {
      font-size: 2rem;
    }
  }
  
  /* -------------------------------- 
  
  Transition Layer 
  
  -------------------------------- */
  .cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
  
  .cd-transition-layer .bg-layer {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-2%);
      transform: translateY(-50%) translateX(-2%);
      width: 5100vh;
      height: 120vh;
      background: url(../images/ink.png) no-repeat 0 0;
      background-size: 100% 100%;
  }
  
  @media screen and (min-aspect-ratio: 17/10) {
      .cd-transition-layer .bg-layer {
          width: 2500vw;
          height: calc(100vw / 1.7)
      }
  }
  
  .cd-transition-layer.visible {
    opacity: 1;
    visibility: visible;
  }
  .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24);
    -moz-animation: cd-sequence 0.8s steps(24);
    animation: cd-sequence 0.8s steps(24);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence-reverse 0.8s steps(24);
    -moz-animation: cd-sequence-reverse 0.8s steps(24);
    animation: cd-sequence-reverse 0.8s steps(24);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .no-cssanimations .cd-transition-layer {
    display: none;
  }
  
  @-webkit-keyframes cd-sequence {
    0% {
      /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
      -webkit-transform: translateY(-50%) translateX(-2%);
    }
    100% {
      /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
      -webkit-transform: translateY(-50%) translateX(-98%);
    }
  }
  @-moz-keyframes cd-sequence {
    0% {
      /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
      -moz-transform: translateY(-50%) translateX(-2%);
    }
    100% {
      /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
      -moz-transform: translateY(-50%) translateX(-98%);
    }
  }
  @keyframes cd-sequence {
    0% {
      /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
      -webkit-transform: translateY(-50%) translateX(-2%);
      -moz-transform: translateY(-50%) translateX(-2%);
      -ms-transform: translateY(-50%) translateX(-2%);
      -o-transform: translateY(-50%) translateX(-2%);
      transform: translateY(-50%) translateX(-2%);
    }
    100% {
      /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
      -webkit-transform: translateY(-50%) translateX(-98%);
      -moz-transform: translateY(-50%) translateX(-98%);
      -ms-transform: translateY(-50%) translateX(-98%);
      -o-transform: translateY(-50%) translateX(-98%);
      transform: translateY(-50%) translateX(-98%);
    }
  }
  @-webkit-keyframes cd-sequence-reverse {
    0% {
      -webkit-transform: translateY(-50%) translateX(-98%);
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-2%);
    }
  }
  @-moz-keyframes cd-sequence-reverse {
    0% {
      -moz-transform: translateY(-50%) translateX(-98%);
    }
    100% {
      -moz-transform: translateY(-50%) translateX(-2%);
    }
  }
  @keyframes cd-sequence-reverse {
    0% {
      -webkit-transform: translateY(-50%) translateX(-98%);
      -moz-transform: translateY(-50%) translateX(-98%);
      -ms-transform: translateY(-50%) translateX(-98%);
      -o-transform: translateY(-50%) translateX(-98%);
      transform: translateY(-50%) translateX(-98%);
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-2%);
      -moz-transform: translateY(-50%) translateX(-2%);
      -ms-transform: translateY(-50%) translateX(-2%);
      -o-transform: translateY(-50%) translateX(-2%);
      transform: translateY(-50%) translateX(-2%);
    }
  }
  
.bubble {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  animation: bubble 10s linear infinite;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.3;
}

.bubble:nth-child(1) {
  top: 20%;
  left: 20%;
  animation-duration: 8s;
}
.bubble:nth-child(2) {
  top: 60%;
  left: 80%;
  animation-duration: 10s;
}
.bubble:nth-child(3) {
  top: 40%;
  left: 35%;
  animation-duration: 3s;
}
.bubble:nth-child(4) {
  top: 86%;
  left: 30%;
  animation-duration: 7s;
}
.bubble:nth-child(5) {
  top: 90%;
  left: 10%;
  animation-duration: 9s;
}
.bubble:nth-child(6) {
  top: 30%;
  left: 60%;
  animation-duration: 5s;
}
.bubble:nth-child(7) {
  top: 70%;
  left: 20%;
  animation-duration: 8s;
}
.bubble:nth-child(8) {
  top: 75%;
  left: 60%;
  animation-duration: 10s;
}
.bubble:nth-child(9) {
  top: 83%;
  left: 90%;
  animation-duration: 6s;
}
.bubble:nth-child(10) {
  top: 45%;
  left: 20%;
  animation-duration: 10s;
}
.bubble:nth-child(11) {
  top: 10%;
  left: 90%;
  animation-duration: 9s;
}
 .bubble:nth-child(12) {
  top: 20%;
  left: 70%;
  animation-duration: 7s;
}
.bubble:nth-child(13) {
  top: 20%;
  left: 20%;
  animation-duration: 8s;
}
.bubble:nth-child(14) {
  top: 60%;
  left: 5%;
  animation-duration: 6s;
}
.bubble:nth-child(15) {
  top: 90%;
  left: 80%;
  animation-duration: 9s;
}

@keyframes bubble {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}
/* SKILL */
section#skill {
    border: 1px solid blue;
}
/* WORK */
section#work {
  border: 1px solid yellow;
  overflow-x: hidden;
}
section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}
section.horizontal .animation-wrap > .item {
  /* position:relative; */
  flex: 0 0 500px;
  background-color: red;
}
section.horizontal .animation-wrap.to-right {
  counter-reset: item;
  float: left;
}

/* PORTFOLIO */
#portfolio {
    border: 1px solid green;
}
#portfolio .inner {
    align-items: baseline;
    justify-content: flex-start;
}
#portfolio .portfolioContWrap {
    width: 100%;
    
}
#portfolio .portfolioContWrap .portfolioTab {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 30px;
    gap: 20px;
}
#portfolio .portfolioContWrap .TabCont {
    display: none;
    position: relative;
    padding: 20px;
    
}
#portfolio .portfolioContWrap .TabCont.active {
    display: block;
}

/* CONTACT */
section#contact {
    border: 1px solid orange;
}

/* Footer */
footer {
    background-color: #00122e;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}
/* fadeWrap */
.fadeWrap {
    opacity: 0;
    position: relative;
    transition: 1s;
    left: -50px;
}
.fadeWrap.fade-in {
    opacity: 1;
    left: 0;
}

/* 이력서 */
article.cd-modal h4 {
  margin-bottom: 10px;
}
article.cd-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article.cd-modal .antecedents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 100px);
}
article.cd-modal .antecedents > .list_one {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* border: 1px solid red; */
}
article.cd-modal .antecedents > .list_one > img {
  width: 200px;
  height: auto;
  border: 5px solid #fff;
}
article.cd-modal .antecedents table {
  width: 100%;
}
article.cd-modal table {
  border-width: 2px;
}
article.cd-modal table,
article.cd-modal th,
article.cd-modal td {
  border: 1px solid #fff;
}
article.cd-modal td,
article.cd-modal th {
  text-align: center;
  vertical-align: middle;
}
article.cd-modal td.head {
  width: 160px;
}
article.cd-modal table:not(.default) thead tr,
article.cd-modal table:not(.default) tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
article.cd-modal table thead th {
  display: table-cell;
  height: 50px;
}
article.cd-modal table tbody td {
  height: 50px;
}


@keyframes slideInLeft {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}