@charset "utf-8";

.slidesWrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
    border: 1px solid red
}
.slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.slides.animated {
    transition: .5s ease-out;
}

.slide {
    width: 900px;
    height: 300px;
    
}

.TabCont .controls button {
    position: absolute;
    border: 1px solid red;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    top: 50%;
}
.TabCont .controls button.prev {
    left: 30px;
}
.TabCont .controls button.next {
    right: 30px;
}